{% extends 'base.html.twig' %}

{% block title %}Hello CompanyController!{% endblock %}

{% block body %}
    <h2>Liste des sociétés</h2>

    {{ dump(companies) }}

    <ul>
        {% for c in companies %}
        <li>{{ c.name }}</li>
        {% endfor %}
    </ul>
{% endblock %}
