{% extends 'base.html.twig' %}

{% block title %}Hello DemoVueController!{% endblock %}

{% block body %}
    <div id="vue-app"></div>
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('demo_vue') }}
{% endblock %}


{% block javascripts %}
    {{ encore_entry_script_tags('demo_vue') }}
{% endblock %}