{% extends 'base.html.twig' %}

{% block title %}Liste des contacts{% endblock %}

{% block body %}
    <h2>Liste des contacts</h2>
    <p>Controller name : {{ controller_name }}</p>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        body {
            background-color: beige;
        }
    </style>
    <link rel="stylesheet" href="{{ asset('app.css') }}">
{% endblock %}